<!-- your html code here -->
 <div class="container-fluid">
        <div class="align-items-center justify-content-center">
            <div class="row">
            <div class="mb-3">
                <div class="col-3">
                    <h2>Contact</h2>
                </div>
                <div class="col-12">
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock. 
                </div>
            </div>
                <form class="container-fluid justify-content-center border mg-5">
                    <div class="card col-10">
                        <div class="card-body">
                    <div class="col-3 pb-3">
                        <label for="inputEmail">Your E-mail</label>
                        <input type="text" class="form-control" placeholder="Your email" id="inputEmail">
                    </div>
                    <div class="col-3 pb-3">
                        <label for="inputMessage">Your message</label>
                        <textarea rows="3" type="text" class="form-control" placeholder="please enter your message here" id="inputMessage"></textarea>
                    </div>
                </div>
                    <div class="card-footer text-end">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
