<!-- your html code here -->
 <nav class="navbar navbar-dark bg-dark ">
        <div class="container-fluid justify-content-start">
          <a class="navbar-brand text-secondary mx-3" href="#">Start Boostrap</a>
              <a class="nav-link active text-secondary mx-3" aria-current="page" href="#">About</a>
              <a class="nav-link text-secondary mx-3" href="#">Services</a>
              <a class="nav-link text-secondary mx-3" href="#">Portfolio</a>
              <a class="nav-link text-secondary mx-3" href="#">Contact</a>
            </div>
          </div>
        </div>
      </nav>
