<!-- your html code here -->
 <form class="container my-5">
    <div class="row mt-3">
    <h1 class="text-center">New York</h1>
      <p class="text-center mt-2">The Eternal City, known thanks to the numerous and important monuments found there and that have survived since the ancient Roman Empire, is one of the most historic capitals in Europe.</p>
    </div>
    <div class="row mt-3">
      <div class="col-4">
        <div class="card" style="width:auto;">
          <img src="https://images.pexels.com/photos/450597/pexels-photo-450597.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="card-img-top" style="height: 150px;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card" style="width:auto;">
          <img src="https://images.pexels.com/photos/290386/pexels-photo-290386.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="card-img-top" style="height: 150px;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card" style="width:auto;">
          <img src="https://images.pexels.com/photos/4451714/pexels-photo-4451714.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="card-img-top" style="height: 150px;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
  </form>
