<!-- your html code here -->
<form class="container my-5">
    <div class="row text-center mt-2">
      <div class="col-5">
        <img src="https://images.pexels.com/photos/2190283/pexels-photo-2190283.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="img-fluid rounded-circle" alt="New York">
      </div>
      <div class="col-7 mt-3">
        <h1 class="text-center">New York</h1>
        <p class="text-center">The Eternal City, known thanks to the numerous and important monuments found there and that have survived since the ancient Roman Empire, is one of the most historic capitals in Europe.</p>
      </div>
    </div>
</form>
